{% extends "layout.html" %}
{% block title %}
Student Info
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}
<div class="container">
    <!-- student code start -->
    <h1>Student Info</h1>
    <br/>
    <p>Id:{{id}}</p>
    <br/>
    <p>Username:{{username}}</p>
    <br/>
    <p>Password:{{password}}</p>
    <br/>
    <p>Email:{{email}}</p>
    <br/>

    <!-- student code end -->
</div>
{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}